.footer {
    position: fixed;
    bottom: 0;
    width: 101%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1rem 0; /* Adiciona espaço dentro do footer */
    z-index: 1; /* O fundo do footer vai ficar atrás do conteúdo */
    margin-left: -1rem;
}

.footer p {
    margin: 0;
    padding: 0;
}

.subfooter {
    color: white;
    margin-top: 0.5rem; /* Ajusta o espaço entre o copyright e o subfooter */
}
