.Header nav {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 1.25rem;
    flex-direction: column;
    align-items: center;
    position: fixed; /* Fixa a navbar */
    top: 0; /* Posiciona no topo */
    left: 0; /* Posiciona à esquerda */
    right: 0; /* Posiciona à direita */
    z-index: 1000; /* Garante que a navbar ficará acima de outros elementos */
}

.Header nav ul {
    display: flex; 
    padding: 0;
    margin: 0;
    background-color: rgba(49, 5, 5, 0.41);
    border-radius: 2rem;
    justify-content: center; 
    width: 50%; 
}

.Header nav ul li {
    padding: 0rem;
    list-style: none;
    margin: 0.5rem;
    border-radius: 1.25rem;
    background-color: rgb(186, 19, 19);
    flex: 1; 
    display: flex; 
    justify-content: center;
}

.Header nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

body {
    padding-top: 5rem; /* Ajuste conforme necessário para evitar que o conteúdo fique oculto atrás da navbar */
}
